body {
    background-image:  url(/public/invierno\ 3.jpg);
    background-position: center  center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    
    
}

html,
body {

    height: 100%;
}

body {
    margin: 0;
}

*{
    box-sizing: border-box;
}

h1,p {
    margin-top: 0;
    margin-bottom: 0;
}

